@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

.hovering-text {
  transition: all ease 300ms;
}

.hovering-text:hover {
  font-weight: 900;
  -webkit-text-fill-color: #23c40e;
  -webkit-text-stroke: 1px transparent;
}

.hovering-text:hover + .hovering-text {
  font-weight: 500;
  -webkit-text-fill-color: #23c40e;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:hover + .hovering-text + .hovering-text {
  font-weight: 300;
  -webkit-text-fill-color: #23c40e;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:has(+ .hovering-text:hover) {
  font-weight: 500;
  -webkit-text-fill-color: #23c40e;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:has(+ .hovering-text + .hovering-text:hover) {
  font-weight: 300;
  -webkit-text-fill-color: #23c40e;
  -webkit-text-stroke: 0px transparent;
}

.hamburger-react {
  z-index: 52;
  cursor: pointer;
}

.text-stroke {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}

.cont:nth-child(1) {
  transition: background-color ease 200ms;
}
.cont:nth-child(2) {
  transition: background-color ease 200ms;
}
.cont:nth-child(3) {
  transition: background-color ease 200ms;
}
.cont:nth-child(4) {
  transition: background-color ease 200ms;
}
.cont:nth-child(5) {
  transition: background-color ease 200ms;
}
.cont:nth-child(6) {
  transition: background-color ease 200ms;
}
.cont:nth-child(7) {
  transition: background-color ease 200ms;
}

.cont:nth-child(1):hover {
  background-color: #e34f26;
  transition: background-color ease 0.2s;
}
.cont:nth-child(2):hover {
  background-color: #244cdd;
  transition: background-color ease 0.2s;
}
.cont:nth-child(3):hover {
  background-color: #e8d44e;
  transition: background-color ease 0.2s;
}
.cont:nth-child(4):hover {
  background-color: #5fd3f3;
  transition: background-color ease 0.2s;
}
.cont:nth-child(6):hover {
  background-color: #36b7f0;
  transition: background-color ease 0.2s;
}
.cont:nth-child(7):hover {
  background-color: #c76494;
  transition: background-color ease 0.2s;
}
.cont:nth-child(8):hover {
  background-color: #ffffff;
  transition: background-color ease 0.2s;
}

.project:nth-child(1) .image {
  transition: border ease 200ms;
  border: transparent 3px solid;
}
.project:nth-child(2) .image {
  border: transparent 3px solid;
  transition: border ease 200ms;
}
.project:nth-child(3) .image {
  border: transparent 3px solid;
  transition: border ease 200ms;
}
.project:nth-child(4) .image {
  border: transparent 3px solid;
  transition: border ease 200ms;
}
.project:nth-child(5) .image {
  border: transparent 3px solid;
  transition: border ease 200ms;
}

.parent:nth-of-type(1):hover {
  border-color: #aa2920;
}
.parent:nth-of-type(2):hover {
  border-color: #d6873d;
}
.parent:nth-of-type(3):hover {
  border-color: #e18cbd;
}
.parent:nth-of-type(4):hover {
  border-color: #f9d546;
}
.parent:nth-of-type(5):hover {
  border-color: #323ffa;
}

.parent:nth-of-type(1) .btn {
  background-color: #aa2920;
}
.parent:nth-of-type(2) .btn {
  background-color: #d6873d;
}
.parent:nth-of-type(3) .btn {
  background-color: #e18cbd;
  color: #000;
}
.parent:nth-of-type(4) .btn {
  background-color: #f9d546;
  color: #000;
}
.parent:nth-of-type(5) .btn {
  background-color: #323ffa;
}
