@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-padding-top: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #f2f2f2;
}

::-webkit-scrollbar {
  display: none;
}

.hovering-text {
  transition: all ease 300ms;
}

.hovering-text:hover {
  font-weight: 900;
  -webkit-text-fill-color: #dbc1ac;
  -webkit-text-stroke: 1px transparent;
}

.hovering-text:hover + .hovering-text {
  font-weight: 500;
  -webkit-text-fill-color: #dbc1ac;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:hover + .hovering-text + .hovering-text {
  font-weight: 300;
  -webkit-text-fill-color: #dbc1ac;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:has(+ .hovering-text:hover) {
  font-weight: 500;
  -webkit-text-fill-color: #dbc1ac;
  -webkit-text-stroke: 0px transparent;
}

.hovering-text:has(+ .hovering-text + .hovering-text:hover) {
  font-weight: 300;
  -webkit-text-fill-color: #dbc1ac;
  -webkit-text-stroke: 0px transparent;
}

.hamburger-react {
  z-index: 52;
  cursor: pointer;
}

.text-stroke {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}

.card {
  transition: scale 200ms ease;
}

.card:hover {
  scale: 1.2;
}

.numbers {
  position: relative;
  overflow: hidden;
}

.numbers .name {
  z-index: 2;
}

.numbers::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #dbc1ac;
  border-radius: inherit;
  height: 120%;
  width: 100%;
  z-index: -2;
  filter: blur(5px);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 1turn;
  }
}

.numbers::after {
  content: "";
  position: absolute;
  inset: 5px;
  background-color: black;
  z-index: 1;
}

.contact-card {
  position: relative;
  --left: 0px;
  --top: 0px;
}

.contact-card::before {
  content: "";
  position: absolute;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  left: var(--left);
  top: var(--top);
  transform: translate(-50%, -50%) scale(1.5);
  filter: blur(50px);
  opacity: 0;
  transition: opacity 0.3s;
}

.contact-card:hover::before {
  opacity: 1;
  cursor: none;
}
